<launch >
 <!-- <arg name="model" default="$(find tetrix)/urdf/robot_with_inertial_with_chassis.urdf"/> -->
 <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find tetrix)/urdf/robot_with_inertial_with_chassis.urdf.xacro'" />
 <!-- <param name="robot_description" textfile="$(arg model)"/> -->
 <param name="use_gui" value="true"/>

 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
 <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tetrix)/rviz/robot.rviz" required="true"/>

</launch>
